<a href="https://colab.research.google.com/github/2303A51760/23CSBTB28/blob/main/type_of_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

part 1- implement basic data Structures using numpy, pandas

In [2]:
import numpy as np
import numpy as pd

In [6]:
list = ["Greek","For","Greek"]
list2 = "my first lab"
list3 = 4.3
list4 = 2j+6
list5 = 'my first lab'
print(type(list2))
print(type(list3))
print(type(list4))
print(type(list5))
print("/nlist Items: ")
print(list)
print(type(list))
print(list[0])
print(list[1])

<class 'str'>
<class 'float'>
<class 'complex'>
<class 'str'>
/nlist Items:
['Greek', 'For', 'Greek']
<class 'list'>
Greek
For